<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="data" stopProcessing="true">
                    <match url="^data/(.*)" negate="false" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/data/" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3000/data/{R:1}" />
                    <serverVariables>
                    </serverVariables>
                </rule>
				<rule name="suggest" stopProcessing="true">
                    <match url="^suggest/(.*)" negate="false" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/suggest/" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3000/suggest/{R:1}" />
                    <serverVariables>
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
