<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="20480" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="remote-suggest" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_URI}" pattern="^/remote-suggest" />
          </conditions>
          <action type="Rewrite" url="http://suggest2.sinajs.cn/suggest/{R:1}" />
        </rule>
        <rule name="remote-data" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_URI}" pattern="^/remote-data" />
          </conditions>
          <action type="Rewrite" url="http://hq.sinajs.cn/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
