body {
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-fluid {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px;
}

.show-grid {
    margin-bottom: 5px;
}

#logo {
    font-weight: bold;
}

th,
td {
    cursor: default;
}

[role="handle"] {
    cursor: move;
}
td.positive {
    color: red;
}
td.negative {
    color: green;
}

.input-group-addon.btn-warning,
.input-group-addon.btn-danger {
    color: #fff;
}

.ui-sortable-helper {
    display: table;
}

.editor {
    border: 0;
    width: 205px;
    height: 120px;
}
.container-editor {
    width: 200px;
}

.container-action .glyphicon {
    margin: 0px 3px;
}