body {
    font-size: 13px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.show-grid {
    margin-bottom: 5px;
}

#logo {
    font-weight: bold;
}

th,
td {
    cursor: default;
}
td span {
    display: block;
    padding: 0px 3px;
}
td.positive {
    color: red;
}
td.negative {
    color: green;
}
td.editor {
    cursor: pointer;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px;
}


.input-group-addon.btn-warning,
.input-group-addon.btn-danger {
    color: #fff;
}
