<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="data" stopProcessing="false">
                    <match url="^(.*)" negate="false" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/data/" />
                    </conditions>
                    <action type="Rewrite" url="http://hq.sinajs.cn/{R:1}" />
                </rule>
				<rule name="suggest" stopProcessing="true">
                    <match url="^(.*)" negate="false" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/suggest/" />
                    </conditions>
                    <action type="Rewrite" url="http://suggest2.sinajs.cn/suggest/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
