<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <!-- 在 IIS 的 URL 重写功能中，手工添加允许的服务器变量 HTTP_REFERER -->
            <rules>
                <rule name="data" stopProcessing="true">
                    <match url="^(.*)" negate="false" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/data/" />
                    </conditions>
                    <action type="Rewrite" url="https://hq.sinajs.cn/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_REFERER" value="https://finance.sina.com.cn/realstock/company/sh000002/nc.shtml" />
                    </serverVariables>
                </rule>
                <rule name="suggest" stopProcessing="true">
                    <match url="^(.*)" negate="false" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/suggest/" />
                    </conditions>
                    <action type="Rewrite" url="https://suggest3.sinajs.cn/suggest/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_REFERER" value="https://finance.sina.com.cn/realstock/company/sh000002/nc.shtml" />
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
