/* ******************* 公共 ******************* */
body
{
	margin: 10px;
	font-family: Verdana;
	font-size: 12px;
	color: #666666;
}
a
{
	color: #3366CC;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
input
{
	font-family: Verdana;
	font-size: 11px;
}
input.TextBox
{
	border: 1px solid #999999;
	padding: 2px;
}

/* ******************* 容器 ******************* */
table.ContentContainer
{
	width: 100%;
}
table.ContentContainer td
{
	padding: 3px;
	border-bottom-style: solid;
	border-left-style: dotted;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-color: #999999;
	border-left-color: #999999;
	cursor: default;
}
iframe.StockDatasFetcherContainer
{
	display: none;
}

/* ******************* 功能区 ******************* */
table.ContentContainer caption
{
	text-align: left;
	padding-bottom: 10px;
}
table.ContentContainer caption ul
{
	margin: 0px;
	list-style-type: none;
}
table.ContentContainer caption ul li.StocksString
{
	width: 60%;
	float: left;
}
table.ContentContainer caption ul li.StocksString input.TextBox
{
	width: 90%;
	color: #3366CC;
}
table.ContentContainer caption ul li.Title
{
	text-align: right;
	float: right;
}

/* ******************* 标题 ******************* */
table.ContentContainer thead
{
	font-weight: bold;
}
table.ContentContainer thead tr
{
	background-color: #CCCCCC;
}
table.ContentContainer thead td.Marked
{
	background-color: #CCFF99;
}

/* ******************* 内容 ******************* */
table.ContentContainer tfoot tr.Plus
{
	color: Red;
}
table.ContentContainer tfoot tr.Minus
{
	color: Green;
}
table.ContentContainer tfoot td.Marked
{
	background-color: #CCFF99;
}