/* ******************* 公共 ******************* */
body
{
	margin: 10px;
	font-family: Verdana, MingLiU;
	font-size: 12px;
	color: #555555;
}
a
{
	color: #3366CC;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
input
{
	font-family: Verdana, MingLiU;
	font-size: 12px;
}
input.TextBox
{
	border: 1px solid #999999;
	padding: 2px;
}
input.CheckBox
{
    margin: 4px 0px;
}
.Title
{
}
.Clear
{
    clear: both;
}
.Ad
{
    margin-top: 15px;
    width: 100%;
    text-align: right;
}

/* ******************* 容器 ******************* */
table.ContentContainer
{
	width: 100%;
    border-collapse: collapse;
}
table.ContentContainer td
{
	padding: 3px;
    border-style: none none solid dotted;
	border-width: 1px;
	border-color: #999999;
	cursor: default;
    text-align: left;
}
iframe.StockDatasFetcherContainer
{
	display: none;
}

/* ******************* 功能区 ******************* */
table.ContentContainer caption
{
	text-align: left;
	padding-bottom: 10px;
}
table.ContentContainer caption ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
table.ContentContainer caption ul li.LockButton
{
	width: 20px;
	float: left;
}
table.ContentContainer caption ul li.StocksString
{
	width: 60%;
	float: left;
}
table.ContentContainer caption ul li.StocksString input.TextBox
{
	width: 90%;
	color: #3366CC;
}
table.ContentContainer caption ul li.Title
{
	text-align: right;
	float: right;
}

/* ******************* 标题 ******************* */
table.ContentContainer thead
{
	font-weight: bold;
}
table.ContentContainer thead tr
{
	background-color: #CCCCCC;
}
table.ContentContainer thead td.Marked
{
	background-color: #CCFF99;
}

/* ******************* 内容 ******************* */
table.ContentContainer tfoot tr.Plus
{
	color: Red;
}
table.ContentContainer tfoot tr.Minus
{
	color: Green;
}
table.ContentContainer tfoot td.Marked
{
	background-color: #CCFF99;
}